@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --color-dgreen: #3D8D7A;
    --color-lgreen: #B3D8A8;
    --color-ivory: #FBFFE4;
    --color-lteal: #A3D1C6;
    --font-poppins: 'Poppins', sans-serif;
}