@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
    --color-dgreen: #3D8D7A;
    --color-lgreen: #B3D8A8;
    --color-ivory: #FBFFE4;
    --color-lteal: #A3D1C6;
    --font-poppins: 'Poppins', sans-serif;
}

#input-area {
    width: 50%;
    position: fixed;
    top: 97%;
    left: 50%;
    transform: translate(-45%, -50%);
}

.message.user {
    background-color: #3D8D7A;
    color: #FBFFE4;
    padding: .75rem 1rem;
    border-radius: 1rem;
    position: fixed;
    width: 21.25rem;
    right: 30%;
}

.message.bot {
    margin-top: 5rem;
    background-color: #FBFFE4;
    padding: .75rem 1rem;
    border-radius: 1rem;
    color: #3D8D7A;
    position: fixed;
    width: 21.25rem;
    left: 32%;
}
